{% extends "./plantilla.html"%}
  {% load static %}
  {%block contenido%}

    <h1>Listado de Pedidos</h1>
    <br>
    <ul>

        <div class="row">

              <div class="col-md-5" style="overflow-y: auto; max-height: 400px;">
                <form action="/guardarPedido/" method="post" enctype="multipart/form-data" id="frm_nuevo_pedido">
                    {% csrf_token %}
                    <b>Cliente:</b>

                    <select class="form-control" name="id_cliente" required>
                      <option value="">--SELECCIONE EL CLIENTE--</option>
                      {% for cliente in clientes %}
                      <option value="{{cliente.id_ed}}">
                        {{cliente.nombre_ed}}-{{cliente.apellido_ed}}
                      </option>
                      {% endfor %}
                    </select>

                    <br>
                      <b>Fecha:</b>
                      <input type="date" name="fecha_ed" value="" class="form-control" placeholder="Ingrese la fecha " required>
                      <br>
                      <b>Estado: </b>
                      <input type="text" name="estado_ed" id="estado_ed" class="form-control" placeholder="Ingrese el estado(Disponible-No disponible)" required>
                      <br>
                      <b>Detalle del pedido:</b>
                      <input type="text" name="observaciones_ed" value="" id="observaciones_ed" placeholder="Ingrese las obsevaciones" class="form-control" required>
                        <br>

                    <center>
                        <button type="submit" name="button" class="btn btn-primary">Guardar</button>
                        &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;
                        <button type="submit" name="button" class="btn btn-danger">Cancelar</button>
                    </center>
                </form>
            </div>
            <div class="col-md-7">
        <div class="d-flex justify-content-center align-items-center">
          <img class="imagen img-fluid" src="{% static 'img/uni.png' %}" alt="" style="max-width: 800px; height: auto;">
        </div>
        <br>
                <table class="table" id="tbl_pedidos">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>FECHA</th>
                            <th>ESTADO</th>
                            <th>DETALLE</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pedido in pedidos %}
                            <tr>
                                <td>{{ pedido.id_ed }}</td>
                                <td>{{ pedido.fecha_ed }}</td>
                                <td>{{ pedido.estado_ed }}</td>
                                <td>{{ pedido.observaciones_ed }}</td>
                                <td>{{pedido.cliente_ed.nombre_ed}}</td>

                                <td>
                                    <a href="/editarPedido/{{pedido.id_ed}}" class="btn btn-warning">Editar</a>
                                    <a href="javascript:void(0)"
                                    onclick="eliminarPedido('/eliminarPedido/{{pedido.id_ed}}');"class="btn btn-danger">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Agregar una fila para la imagen debajo de la tabla -->
            <br>


    </ul>

    <script type="text/javascript">
function eliminarPedido(url) {
  iziToast.question({
      timeout: 15000,
      close: true,
      overlay: true,
      displayMode: 'once',
      id: 'question',
      zindex: 999,
      title: 'CONFIRMACIÓN',
      message: '¿Está seguro de eliminar el cliente seleccionado?',
      position: 'center',
      buttons: [
          ['<button><b>SI</b></button>', function (instance, toast) {
              instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
              window.location.href=url;
          }, true],
          ['<button>NO</button>', function (instance, toast) {

              instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

          }],
      ]
  });
}
</script>
<script type="text/javascript">
   $("#frm_nuevo_pedido").validate({
     rules:{
           "id_provincia":{
             required:true
           },
       "fecha_ed":{
         required:true,
         date:true

       },
       "estado_ed":{
         required:true,
       },
       "observaciones_ed":{
         required:true
       }


     },
     messages:{
       "id_cliente":{
             required:"POR FAVOR SELECCIONE EL CLIENTE"
           },

       "fecha_ed":{
         required:"DEBE INGRESAR LA FECHA DEL PEDIDO",
         date:"SIGA EL MODELO"

       },
       "estado_ed": {
         required: "DEBE INGRESAR EL ESTADO DEL PEDIDO",
       },
       "observaciones_ed":{
         required:"DEBE INGRESAR LA OBSERVACION DEL PEDIDO"

       }

     }
   });
</script>

    <script type="text/javascript">
           //let table = new DataTable('#tbl_clientes');
            $('#tbl_pedidos').DataTable( {
              "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
            },
              dom: 'Bfrtip',
              buttons: [
                  {
                      extend: 'pdfHtml5',
                      messageTop: 'REPORTE DE CLIENTES - DJANGO Y DATATABLES.'
                  },
                  'print',
                  'csv'
              ]
            } );
          </script>


  {%endblock%}
